body
    margin: 0
    padding: 0
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-image: url(./../../src/img/math.jpg)
    section
        height: 500px
        padding: 50px
        width: 500px
        background-color: gray 
        h1
            display: flex
            justify-content: center
        p
            display: flex
            justify-content: right
            padding-right: 20px
            align-items: center 
            background-color: white 
            border: black solid 2px
            height: 30px
        #calculate
            display: flex
            height: 300px
            width: 500px
        #numbers
            height: 300px
            width: 350px
            button
                border: black 2px solid
                margin-top: 5px
                height: 80px
                width: 100px
        #operations
            height: 300px
            width: 150px
            padding-top: 5px
            button
                border: black 2px solid
                height: 84px
                width: 150px 